* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --border-size: 4px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#datas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    padding: 1rem;
}

#data {
    display: inline-block;
    font-size: 2rem;
}

#displayBtn {
    margin: .5rem;
    padding: 1rem;
    border-radius: 15px;
    border-style: none;
    background-color: #8cccf6;
    color: black;
}

#displayBtn:hover {
    background-color: #43aff6;
}

#displayBtn:disabled {
    background-color: #c0c0c0;
}

/* border colors */
.blue-border {
    border: var(--border-size) solid #43aff6;
}

.green-border {
    border: var(--border-size) solid #74f824;
}

.orange-border {
    border: var(--border-size) solid orange;
}

.red-border {
    border: var(--border-size) solid red;
}

.black-border {
    border: var(--border-size) solid black;
}

