#canvas {
    background-color: #decece;
}

.position-input {
    width: 50px;
}

td {
    text-align: center;
}

p {
    font-size: 1.25rem;
}

ul {
    list-style-type: none;
}

li {
    padding:1rem 0 ;
}

a {
    font-size: 1.25rem;
    text-decoration: none;
    color: #000;
    background-color: #b4dfe3;
    padding: 5px;
    border-radius: 5px;
}